<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Travel Journal</title>
</head>
 <body>
   <header>
       <div class="">
           Logo
       </div>
       <div class="">
           navigation
       </div>
   </header>
   <main>
     <div id = "app">
       <div class ="holder headline">
         Travel Journal App
       </div>
       <div class ="holder locationData">
         <label for="locationData">Enter City and State, or Zipcode here</label>
         <input type="text" id="locationData" placeholder="" required>
       </div>
       <div class ="holder travelDates">
         <label for="dateData">Enter the departure date here</label>
         <input type="date" id="travelDates" name="travelDates" value="" min="2020-01-01" max="2030-12-31" required>
         <span class="validity"></span>
         <button id="generate" type = "submit"> Let's Go! </button>
       </div>
       <div class ="holder entry">
         <div class = "title">Most Recent Entry</div>
         <div id = "tripDetails">
           <div id = "destinationPicture">
            <img id = "picture">
          </div>
           <div id = "locationName"></div>
           <div id = "weatherInformation">
             <div id = "date"></div>
             <div id = "temp"></div>
             <div id = "conditions"></div>
           </div>
         </div>
       </div>
     </div>
   </main>
   <footer>
       <p>This is a footer</p>
   </footer>

   <script>
    // Check that service workers are supported
    if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js');
        });
    }
   </script>
 </body>
</html>
