@import url("./post.css");
@import url("./form.css");
@import url("./responsive.css");
h1 {
}
article {
}
div {
}
body {
    background: url("../images/537.gif") repeat #00cc00;
}
.page {
    display: grid;
    width: 100%;
    min-width: 400px;
    grid-template:
        "avi head" 100px
        "nav nav" 75px
        "main main" 1fr
        "sub sub" 100px
        "foot foot" auto
        / 100px 1fr;
    padding: 5px;
}
.header {
    grid-area: head;
    text-align: center;
    background: #cccccc;
}
.avatar {
    grid-area: avi;
    width: 100px;
    height: 100px;
    background: no-repeat center/90% url("../images/patches_layout.jpg");
}
.container {
    display: flex;
    flex-direction: column;
}
.navbar {
    grid-area: nav;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: url("../images/503.gif") repeat #ccc;
}
.main {
    grid-area: main;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: ;
}
.subscribe {
    display: flex;
    flex-direction: row;
    grid-area: sub;
}
.footer {
    grid-area: foot;
    text-align: center;
    background: #cccccc;
}
.button {
    text-align: center;
    margin: 3px;
}
.box {
    border: 2px solid black;
}
@media (min-width: 600px) {
    .page {
        display: grid;
        width: 100%;
        grid-template:
            "avi head" 100px
            "nav main" 1fr
            "sub sub" 100px
            "foot foot" auto
            / 100px 1fr;
        padding: 5px;
    }
    .navbar {
        grid-area: nav;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        background: url("../images/503.gif") repeat #ccc;
    }
    .main {
        grid-area: main;
        padding: 5px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: start;
        gap: 5px;
        background: ;
    }
}
